* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
body {
    display: flex;
    background-color: #F4F6FF;
}
/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 160px;
    padding: 0 3rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #F3C623;
}
.sidebar:hover {
    width: 600px;
    transition: 0.5s ease-in-out;
}
.logo {
    height: 80px;
    margin: 15px;
}

.menu {
    white-space: nowrap;
    height: 85%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 0.5rem;
    margin: 8px 0;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover {
    background: #F4F6FF;
    transition: all 0.5s linear;
}
.menu a:hover {
    color: #F3C623;
}
.menu a {
    font-size: 40px;
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;
}
.menu a i {
    font-size: 40px;
}
/* a.space-gap {
    display: flex;
    justify-content: space-between;
} */
.sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
/* .settings {
    position: absolute;
    bottom: 0px;
    width: 100%;
} */

/*///// Header Title /////*/
.main--content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
    color: #F3C623;
}
.main--content img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.box-shadow-div {
    box-shadow: 0 0 8px #e4e4e4;
}
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: white;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
}
.header--wrapper span{
    font-size: 18px;
}
.header--wrapper h2{
    font-size: 35px;
}
.header--wrapper img {
    height: 60px;
    width: 60px;
}
.user--wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}
.user--info span{
    font-size: 23px;
}
.user--info h4{
    font-size: 20px;
}
form.search-bar, .search-bar a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #F3C623;
    gap: 10px;
}
form.search-bar input {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #F4F6FF;
}
.fa-magnifying-glass {
    font-size: 40px;
}
.fa-angle-down {
    font-size: 30px;
    color: #F3C623  ;
}

/*///// Second Layer /////*/
.second--layer {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    gap: 30px;
    width: 100%;
    border-radius: 10px;
    /* background: rgb(128, 127, 127); */
}
/*/// Upload ///*/
.quick-settings-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 8px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.quick-settings-wrapper div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #f4f6ffb4;
    border-radius: 10px;
    width: 45%;
}
.quick-settings-wrapper div:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}
.quick-settings-wrapper div span {
    text-align: center;
}
.quick-settings-wrapper div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    gap: 3px;
    color: #F3C623;
    text-decoration: none;
}
.quick-settings-wrapper div a span {
    white-space: nowrap;
    font-size: 20px;
}
.quick-settings-wrapper div:hover, .quick-settings-wrapper a:hover {
    transition: all 0.3s ease-in-out;
    color: white;
    background-color: #F3C623;
}
.quick-settings-wrapper div i {
    font-size: 60px;
}
/*/// Profile Description ///*/
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 50%;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
}
.profile-info img {
    box-shadow: 0 0 20px hsl(0, 0%, 72%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.profile-info span {
    text-align: center;
}
.profile-name {
    font-size: 25px;
}
.profile-bio {
    font-size: 15px;
    margin-bottom: 5px;
}
.profile-sub-info {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 20px;
}
.orange {
    color: #fdad19;
}
.deep-orange {
    color: #c78915;
}
/*/// Trending Art Genres ///*/
div.trending-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
div.trending-genre {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
div.trending-genre div {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}
div.trending-genre a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #F3C623;
    text-align: center;
}
div.trending-genre a:hover {
    transition: 0.5s;
    transform: translateY(-3px);
    background-color: #F3C623;
    color: white;
    box-shadow: 0 0 10px #e4e4e4;
}
.trending-genre a span, i {
    font-size: 20px;
}
.fire-glow {
    animation: glow 2s ease-in-out infinite alternate;
}

/*///// Third Layer /////*/
.third--layer {
    flex-grow: 1;
    display: flex;
    gap: 30px;
    overflow: hidden;
    /* background-color: grey; */
}
.statistics1-wrapper {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.statistics2-wrapper {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.stat1-content, .stat2-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.top {
    position: relative;
    top: 0;
}
.chart-title-size {
    position: relative;
    top: 2px;
    font-size: 50px;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #ffb81d;
    }
    to {
      text-shadow: 0 0 10px #ffffff, 0 0 10px #ffb81d;
    }
  }